<ion-view view-title="Dashboard" can-swipe-back="false" ng-controller="DashboardController" id="family">
<ion-header-bar class="bar-family header-bar">
<h1 class="title page-title">Smith Family</h1>
<div class="buttons add-member" ng-click="addMember()">
  <button class="button button-small icon-right ion-plus-round" ng-click="closeSettings()"></button>
</div>
</ion-header-bar>

<ion-content scroll="false" id="family-section">
  <a href="#/car" class="car-link">
    <div class="car-status">
      <img src="img/car-icon.svg"/>
      <h1>
        Car Status: Driving
      </h1>
    </div>
  </a>
  <div class="row parents">
    <div class="col col-50">
      <div class="parent">
        <a href="#/users/1">
          <img src="img/father.jpg"/>
          <span class="driving-pulse"></span>
        </a>
        <h1>Drew</h1>
      </div>
    </div>
    <div class="col col-50">
      <div class="parent">
        <a href="#/users/1">
          <img src="img/mother.jpg" href="#/users/2"/>
        </a>
        <h1>Mary</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-33">
      <div class="child">
        <a href="#/users/1">
          <img src="img/son.jpg" href="#/users/3"/>
        </a>
        <h1>Jack</h1>
      </div>
    </div>
    <div class="col col-33">
      <div class="child">
        <a href="#/users/1">
          <img src="img/daughter.jpg" href="#/users/4"/>
        </a>
        <h1>Jenny</h1>
      </div>
    </div>
    <div class="col col-33">
      <div class="child">
        <a href="#/users/1">
          <img src="img/youngson.jpg" href="#/users/5"/>
        </a>
        <h1>Peter</h1>
      </div>
    </div>
  </div>
</ion-content>

</ion-view>
